* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../blue.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden; 
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px; 
}

.h1-container {
    background: linear-gradient(to top right, #ffffff, #5aaaff);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
}

h1 {
    color: #333;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

.card {
    background: linear-gradient(to top right, #ffffff, #8ac3ff);
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.card-content h2 {
    color: #2c3e50;
    font-size: 1.5rem;
}

.card-content p {
    color: #232323;
    margin: 15px 0 20px;
    flex-grow: 1; 
    line-height: 1.6;
}

.button-wrapper {
    text-align: center;
    margin-top: auto;
}


.btn { 
    display: inline-block;
    padding: 10px 20px;
    background-color: #278fd4;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.btn:hover {
    background-color: #0b7ac5;
}