@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html.body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, black, darkblue);
    color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "open sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 650px;
    animation: fadein 0.6s ease-in;
}

.section-title {
    color: white;
    font-size: 56px;
}

.top-paragraph {
    font-family: "roboto mono", monospace;
    color: #65ffd1;
    font-size: 19px;
}

.contact-info {
    text-align: center;
}

.contact-details {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #e2e2e2;
}

.contact-info {
    margin-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text {
    font-size: 18px;
    color: #e2e2e2;
    width: 500px;
    margin-bottom: 3%;
}

.contact-details a {
    color: #65ffd1;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #e2e2e2;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #65ffd1;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(28, 28, 28, 0.8);
    color: #e2e2e2;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #007bff;
}

#message {
    min-height: 15px;
}

.button-container {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: transparent;
    border: 2 px solid #65ffd1;
    width: 230px;
    height: 64px;
    padding: 15px 50px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(28, 28, 30, 0.4);
}

button span {
    font-size: 16px;
    color: #65ffd1;
}
.button span {
    font-size: 16px;
    color: #65ffd1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}