@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

.todo-list-container {
    background-image: linear-gradient(to bottom right, #eaf4ff, #c7e0ff);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.todo-list-container h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
}

.todo-list-container h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

#todo-list {
    list-style-type: none;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color:white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.todo-item:hover {
    transform: translateY(-2px);
}

.todo-item label {
    flex-grow: 1;
    margin-left: 10px;
}

.todo-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    width: 32px;
    height: 32px;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.icon:hover {
    background-color: #f0f0f0;
}

.icon img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.todo-item input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #aaa;
}