* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto 40px;
}

.logo {
    font-size: 29px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 19px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: white;
    padding: 12px 24px;
    border-radius: 5px;
    color: #764ba2;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    background-color: white;
}

/* Bagian Fitur */
.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.feature {
    flex: 1 1 250px;
    max-width: 300px;
    margin: 20px;
    text-align: center;
}

.feature h3 {
    color: #764ba2;
    margin-bottom: 10px;
}